.Discover .fab-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Discover .btn-default.btn-floating {
  background-color: #0168AB;
  margin: 0 10px;
}

.Discover .btn-default.btn-floating:hover {
  background-color: #0168AB;
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3);
}
